/*
Style für Links
*/
a:link,a:active,a:visited
{
	font-style: normal;
	font-weight: normal;
	font-family: 'Trebuchet MS',Arial,sans-serif;
	font-size: 10px;
	color: white; 
}

a:hover
{
		
	text-shadow: 0.5px 0.4px #CCCCCC;	
}

/*
Hintergrund, Haupt
*/

html
{
    margin-top: 0px;
    top: 0px;
    width: 100%;

    /**background-color: Black;**/
    background-image: url("../../img/PixelatedBgNorm6.png");
    background-color: black;
    font-style: normal;
    font-weight: normal;
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-size: 10px;
    color: White;
}

/*
Auflistungsicon = >
*/

ul 
{
        text-align: left;
	list-style-image: url("../../img/icons/arrow_state_grey_right.png");
}











