ul#tabnav { /* general settings */
            z-index: 3;
            text-align: left; /* set to left, right or center */
            margin: 1em 0 1em 0; /* set margins as desired */
            font: 11px verdana, arial, sans-serif; /* set font as desired */
            border-bottom: 1px solid #093B90; /* set border COLOR as desired */
            list-style-type: none;
            padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
               display: inline;
}

li.selected { /* settings for selected tab */
                                                                             border-bottom: 1px solid #fff; /* set border color to page background color */
                                                                             background-color: #F0F0F0; /* set background color to match above border color */
}

li.selected a { /* settings for selected tab link */
                                                                                     background-color: #F0F0F0; /* set selected tab background color as desired */
                                                                                     color: black; /* set selected tab link color as desired */
                                                                                     position: relative;
                                                                                     top: 1px;
                                                                                     padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
                 padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
                 border: 1px solid #093B90; /* set border COLOR as desired; usually matches border color specified in #tabnav */
                 color: #093B90; /* set unselected tab link color as desired */
                 margin-right: 0px; /* set additional spacing between tabs as desired */
                 text-decoration: none;
                 border-bottom: none;
}

ul#tabnav li .inactive {
    background-image: url('../img/headHeader.png');
    color: #F0F0F0;
}



ul#tabnav a:hover { /* settings for hover effect */
                    background: #F0F0F0; /* set desired hover color */
                    color: #093B90;
                    border-bottom: none;
}
